{% extends 'base.html' %}
{% block content %}
    <main>
        <h1>My Expenses</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of Receipts</th>
            </thead>
            <tbody>
                {% for data in expensecategory_list %}
                <tr>
                    <td>{{data.name}}</td>
                    <td>{{data.receipts.all|length}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}