{% extends 'base.html' %}
{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Due Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for data in receipt %}
                <tr>
                    <td>{{data.vendor}}</td>
                    <td>{{data.total}}</td>
                    <td>{{data.tax}}</td>
                    <td>{{data.due_date|date:"n, d, y"}}</td>
                    <td>{{data.category}}</td>
                    <td>{{data.account}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}